<!DOCTYPE html>
<html>
<head>
  <title>Ignacio Palladino</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fjord+One' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <%= render 'layouts/header' %>
</header>

<content>
    <%= yield %>
</content>

<footer>
    <%= render 'layouts/footer' %>
</footer>
</body>
</html>
